body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    padding:5px;
    max-width:960px;
    width:95%;
    margin:5px auto;
}

header{
    padding: 0 15px;
    text-align:center;
}
footer{
    padding: 0 15px;
    text-align:center;
}
.columns{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column:hover:first-child{
    background-color:rgba(100, 100, 97, 0.733);
}

.column:hover:last-child{
    background-color:rgba(100, 100, 97, 0.733);
}
.column:hover{
    background-color:rgba(100, 100, 97, 0.733);
}

.column{
    box-shadow: 2px 5px;
    text-align: center;
    flex:1;
    border:1px solid rgba(63, 60, 42, 0.733);
    margin :2px;
    padding:2px;
    background:rgba(77, 65, 1, 0.733);
    transition:0.3s;
}
.column:first-child{
    margin-left: 0;
    text-align: center;
      background-color:rgba(77, 65, 1, 0.733);
}
.nav-menu-item{
    text-decoration: none;
    color:white;
}
.column:last-child{
    margin-left: 0;
    background:rgba(77, 65, 1, 0.733);
    text-align: center;
}
@media screen and (max-width:980px)
{
    .columns .column{
        margin-bottom: 5px;
        flex-basis:40%
    }
    .columns .column:last-child{
        flex-basis: 100%;
        margin:0;
    }
    .columns .column:nth-child(2){
       margin-right: 0;
    }

}
@media screen and (max-width:680px){
    .columns .column{
        flex-basis:100%;
        margin:0 0 5px 0;        
    }
}

.img{
    object-fit:contain;
    width: 65%;
    height:65%;
}
#KSIJordyn{
    object-fit:contain;
    width: 35%;
    height:35%;
}
h3{
    color:white;
}
.logo{
    width: 25%;
    height:25%;
}

#coursetitle{
    text-align: center;
    box-shadow: 2px 5px;
    padding:1%;
}

#pagecontent{
    background:rgba(77, 65, 1, 0.733);
    box-shadow: 2px 5px;
    padding:1%;
}
